@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-default: #124;
  --bg-default: linear-gradient(to right, #ffb869, #ff6367);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', sans-serif;
}

header.site-header,
footer.site-footer {
  color: var(--text-default);
  background: var(--bg-default);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-size: 18px;
  } */

  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }

  h4 {
    @apply text-lg font-normal;
  }
  p {
    @apply text-base font-normal;
  }

  main {
    @apply p-4 container max-w-6xl mx-auto;
  }
}
